<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">
    <span hidden>Refresh the website for a new bio!</span>
    <span hidden>CONGRATULATIONS!! YOU HAVE RECEIVED NOTHING! 🎊🥳🍾</span>
    <span hidden>Inflation is not real.</span>
    <span hidden>Pigeons are government spies.</span>
    <span hidden>Have you tried soaking your tears in rice?</span>
    <span hidden>You miss 100% of the shots that you don’t take.</span>
    <span hidden>90% of the gamblers quit before they win big.</span>
    <span hidden>One spin away from winning a gazillion dollars.</span>
    <span hidden>Some call it addiction, I call it dedication.</span>
    <span hidden>One more scrape and I would have had it.</span>
    <span hidden>Double down to recover.</span>
    <span hidden>Can't end on a loss.</span>
    <span hidden>A free spin can't hurt.</span>
    <span hidden>Playing on the best machine in the casino.</span>
    <span hidden>Have to break even somehow.</span>
    <span hidden>Ignorance is bliss</span>
    <span hidden>Supercalifragilisticexpialidocious</span>
    <span hidden>"If you can't explain it simply, you don't understand it well enough." -Albert Einstein</span>
    <span hidden>"All animals are equal, but some are more equal than others." -George Orwell</span>
    <span hidden>"80% of results come from 20% of effort." <br>-Pareto principle (aka the 80/20 rule)</span>
    <span hidden>"If the task can be completed in less than 5 minutes, act on it right now." -The 5-minute rule</span>
    <span hidden>"Money can’t buy happiness!" -Once upon a time a wealthy, cheerful man</span>
    <span hidden>Economy (n.): oikos (house) + nomos (manage): Frugality, careful use of resources.</span>
    <span hidden>Philosophy (n.): philo (love) + sophia (wisdom): Love of wisdom.</span>
    <span hidden>Sonder (n.): The profound feeling of realizing that the strangers passing in the street has a life as complex as one's own.</span>
    <span hidden>Break. It. Down.</span>
    <span hidden>Reverse engineering the human brain.</span>
  </p>

  <script>
    const allBios = document.body.getElementsByTagName('span');
    const randomIndexOfBio = Math.floor(Math.random() * (0 - allBios.length + 1)) + allBios.length;
    const myRandomSpan = allBios[randomIndexOfBio];
    myRandomSpan.removeAttribute('hidden');
  </script>

  </div>


